---
apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization

metadata:
  name: cluster-data

resources:
  - ../../../infrastructure/base  # Cluster-wide infra
  - ../../../apps/base      # Apps to deploy in this cluster
  - gotk-components.yaml    # Flux bootstrap
  # - gotk-sync.yaml          # Git sync config
