---
apiVersion: v1
kind: Service
metadata:
  name: nginx-service
  namespace: {{ env.namespace | default('default') }}  # Dynamic namespace
  labels:
    env: {{ env.labels.env }}
spec:
  selector:
    app: nginx
  ports:
    - protocol: TCP
      port: 80
      targetPort: 80